# NewRelic, AppSignal, and Slack deploy notifications
container_commands:
  00_aws-eb-newrelic-deploynotify:
    command: "webapp/script/newrelic_deploy.sh -a ${NEWRELIC_APP_NAME} -k ${NEWRELIC_API_KEY}"
    leader_only: true
    ignoreErrors: true
  01_aws-eb-appsignal-deploynotify:
    command: "webapp/script/appsignal_deploy.sh -a ${APPSIGNAL_APP_NAME} -k ${APPSIGNAL_PUSH_API_KEY}"
    leader_only: true
    ignoreErrors: true
  02_aws-eb-slack-deploynotify:
    command: "webapp/script/slack_deploy.sh -a One -k ${SLACK_TOKEN} -c aws-notifications -i shipit"
    leader_only: true
    ignoreErrors: true
